# Dependencies
node_modules

# Build outputs
dist
.next
storybook-static

# Test outputs
coverage
test-results

# Logs
*.log

# Lock files
package-lock.json

# Config files that should not be formatted
.env
.npmrc

# Assets
public/**
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.avif
*.webp

*.tsbuildinfo
